<footer class="footer">
  <small>
    The <%= link_to "Twitter Clone", root_path %> by <%= link_to "Andrew Chen", "http://andrewlchen.com" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>